

.text {
    margin-top: -4px;
    padding-left: 10%;
    padding-right: 10%
}

.content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.imgA {
    width: 35%;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.title {
        text-align: center;
}	
.author {
    text-align: center;

    margin-top: -5px;
}
